body {
    background: rgb(245, 245, 245);
}

.headers {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.initial-list {
    padding-top: 100px;
    text-align: left;
}

.prompts {
    padding-top: 100px;
}