body {
    background: rgb(245, 245, 245);
}

.headers {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.initial-list {
    padding-top: 200px;
    text-align: center;
}

#form-placeholder {
    text-align: left;
    display: block;
    width: 200px;
}

